apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ .Values.controlPlane.name }}-config"
  namespace: {{ .Values.namespace }}
  labels:
    helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
data:
  control-plane.conf: |
{{ tpl (.Files.Get "files/control-plane.conf.tpl") . | indent 4 }}
